<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <title>Live chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<div class="liveclass">
    <div class="liveclass-video" id="chat-content" data-page="1">
        <% history.forEach(function(chat) { %>
            <div class="chat-item">
                <div class="chat-item-img">
                    <img src="<%= chat.avatar %>" alt="banner">
                </div>
                <div class="chat-item-name">
                    <%= (chat.firstname) ? chat.firstname : chat.username %>
                </div>
                <div class="chat-item-text">
                    <%= chat.content %>
                </div>
            </div>
        <% }); %>
    </div>
    <btn class="btn login-btn">Đăng nhập để tiếp tục</btn>

</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script src='/javascripts/main.js'></script>
<script>
    $(document).ready(function () {
        var myDiv = $("#chat-content");
        myDiv.animate({ scrollTop: myDiv.prop("scrollHeight") - myDiv.height() }, 0);
        app.groupExercise('<%= group_id %>');

        $('.login-btn').on('click', function () {
            window.parent.postMessage('login', '*');
        });

        myDiv.scroll(function() {
            var value = $(this).scrollTop();
            if (value == 0) {
                var page = $(this).data('page');
                $(this).data('page', page + 1);
                $.ajax({
                    url: "/liveclass-page?page=" + page + '&group_id=<%= group_id %>',
                    type: "get",
                    success: function (datas) {
                        datas.forEach(function (data) {
                            app.helpers.liveClassLoadPage(data);
                        });
                        $("#chat-content").scrollTop(datas.length * 56);
                    }
                });
            }
        });
    });
</script>
</body>
</html>